<?php use Mini\Libs\Helper;?>
<main class="container">
	<div class="d-flex justify-content-center align-items-center w-100 vh-100 flex-column">
		<div class="card">
			<div class="card-header">
				<h3 class="mb-0">Bonjour <?=Helper::e($user->prenom)?> <?=Helper::e($user->nom)?></h3>
			</div>
			<div class="card-body text-center">
				<h4 class="mb-0">Nombre de visites sur le site : <?=$count?></h4>
			</div>
			<div class="card-footer">
				<a href="<?=URL?>index/logout" class="btn btn-danger">Déconnexion</a>
			</div>
		</div>
	</div>
</main>
