<main class="container">
	<div class="d-flex justify-content-center align-items-center w-100 vh-100">
		<div class="card">
			<div class="card-header">
				<h3>Connexion</h3>
			</div>
			<div class="card-body">
				<?php if ($error) : ?>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<?=$error?>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<?php endif ?>
				<form action="" method="post">
					<div class="form-row form-group">
						<div class="col-12">
							<label for="id">Identifiant : </label>
						</div>
						<div class="col-12">
							<input type="text" class="form-control" name="id" id="id" required>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col-12">
							<label for="pass">Mot de passe : </label>
						</div>
						<div class="col-12">
							<input type="password" class="form-control" name="pass" id="pass" required>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col">
							<input type="submit" class="btn btn-primary" value="Connexion">
						</div>
					</div>
				</form>
				<p class="mb-0">
					Pas encore inscrit ? <a href="<?=URL?>index/register">M'inscrire</a>
				</p>
			</div>
		</div>
	</div>
</main>
