<main class="container">
	<div class="d-flex justify-content-center align-items-center vh-100">
		<div class="card">
			<h3 class="card-header">
				Sélection d'un pays
			</h3>
			<div class="card-body">
				<div class="alert alert-dismissible fade show d-none" role="alert">
					<span></span>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="countryForm">
					<div class="form-row">
						<div class="col-12 col-md-3">
							<label for="countrySelect">Pays : </label>
						</div>
						<div class="col-12 col-md-9">
							<select class="custom-select" id="countrySelect" name="country" disabled>
								<option selected disabled hidden>Sélectionner...</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<input type="submit" form="countryForm" value="Envoyer" class="btn btn-primary">
			</div>
		</div>
	</div>
</main>
