	<script>
		const url = "<?=URL?>";
	</script>

	<!-- jQuery 3.5.1 + Bootstrap 4.5.0 -->
	<script src="//code.jquery.com/jquery-3.5.1.min.js"
			integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			crossorigin="anonymous"></script>
	<script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
	<script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
			crossorigin="anonymous"></script>


	<script src="<?=URL?>js/_template.js"></script>
	<?php if(file_exists(ROOT . 'public/js/' . $app->view . '.js')) : ?>
		<script src="<?= URL . 'js/' . $app->view . '.js' ?>"></script>
	<?php endif; ?>
</body>
</html>
