<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
	<link rel="stylesheet"
		  href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
		  crossorigin="anonymous">

	<link href="<?=URL?>css/_template.css" rel="stylesheet">
	<?php if(file_exists(ROOT . 'public/css/' . $app->view . '.css')) : ?>
		<link rel="stylesheet" href="<?= URL . 'css/' . $app->view . '.css' ?>" type="text/css">
	<?php endif; ?>
</head>
<body>

